* {
  margin: 0;
}
nav {
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.aperature {
}
#apera {
  margin-top: 30px;
  margin-left: 40px;
}
.menu {
  margin-top: 30px;
}
.menu ul {
  display: flex;
  list-style-type: none;
}
.menu ul li {
  padding-left: 30px;
}
.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}
.menu ul button {
  margin-left: 30px;
  margin-right: 190px;
  border-radius: 15px;
  height: 4vh;
  font-size: 20px;
  margin-bottom: 10px;
}
.surat {
  background-image: url("./IMAGE.png");
  width: 100%;
  height: 716px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.text {
  text-align: center;
  font-style: normal;
  color: #ffffff;
  line-height: 20px;
  font-weight: 400;
  padding-top: 550px;
}
h1 {
  font-size: 54px;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;

}
#w{
    padding-top: 100px;
}
p {
  font-size: 20px;
  color: #c0c0c0;
}
#t{
    text-align: center;
}
.back {
  background-color: black;
  width: 100%;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
}
p {
  color: #ffffff;
}
h1 {
  color: #ffffff;
}
.soat {
  background-image: url("./IMAGE\ \(1\).png");
  height: 600px;
  width: 400px;
}
h4 {
  padding-top: 105%;
  color: #ffffff;
  margin-right: 50%;
  font-size: 1.3em;
}
button {
  margin-right: 60%;
  height: 4vh;
}
.qabat {
  background-image: url("./IMAGE\ \(2\).png");
  height: 600px;
  width: 400px;
  margin-left: 10px;
}
#qab {
  margin-bottom: 15%;
}
#but {
  margin-bottom: 45%;
}
#h4 {
  padding-top: 85%;
  color: #ffffff;
  margin-right: 40%;
  font-size: 1.3em;
}
.imgs {
  margin-top: 65px;
  display: flex;
  justify-content: center;
}
.forest {
  background-image: url("./IMAGE\ \(3\).png");
  height: 600px;
  width: 400px;
  margin-right: 10px;
}
.ohu {
  background-image: url("./IMAGE\ \(4\).png");
  height: 600px;
  width: 400px;
}
.imgs2 {
  margin-top: 65px;
  display: flex;
  justify-content: center;
}
.sea {
  background-image: url("./IMAGE\ \(5\).png");
  height: 600px;
  background-repeat: no-repeat;
  width: 65%;
  background-size: 100%;
  padding-left: 35%;
  margin-top: 65px;
}
h5 {
  color: #ffffff;
  font-size: 1.5em;
  padding-top: 18%;
}
.foto{
    display: flex;
}
.tex{
    display: flex;
    align-items: center;
    padding-left: 70px;
}
.h3{
    font-size: 35px;
    padding: 20px;
}
h3 {
  color: #ffffff;
  margin-right: 65%;
}
.p1{
    color:#C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#texx {
  margin-right: 31%;
}
.nature{
    background-image: url("./IMAGE\ \(7\).png");
    height: 600px;
    background-repeat: no-repeat;
    width: 65%;
    background-size: 100%;
    padding-left: 35%;
}
#m{
    height: 20px;
}
.nat{
    padding-top: 25%;
    padding-left: 65%;
}
.past{
    margin-top: 65px;
    text-align: center;
}
#pas{
    font-style: normal;
    font-size: 40px;
}
.mountain{
    background-image:url("./IMAGE\ \(8\).png");
    height: 900px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
   

    line-height: 20px;
  
   
}
#h4{
    font-size: 1em;  
}
.te{
    font-size: 1.2em;
   
    padding-left: 65%;
}
.need{
    text-align: center;
    
}
#n{
    line-height: 60px;
    padding-bottom:20px;
}
#e{
 
    font-size: 1.6em;
}
.butt{
    color:#ffffff;
   text-align: center;
   margin: auto;
   display: flex;
   justify-content: center;
   margin-top: 25px;    
}
.fotoo{
    
 width: 80%;
 margin: auto;
 margin-top: 25px;
}
.f{
    width: 95%;
   
}